.gitignorenode_modules
.eslintcache
.cache/
packages/crawler/embeddings.csv
packages/crawler/scraped.csv
packages/embeddings-creation/embeddings.csv
packages/embeddings-creation/scraped.csv
packages/slack-bot/embeddings.csv
packages/slack-bot/scraped.csv

# JetBrains IDEs
.idea
# Visual Studio Code
.vscode

# OS X
.DS_Store


lib/
*.env

# Python specific
.venv
__pycache__/
env
*.env.yaml

.nyc_output
